
/****************************/
/*FONTS_FAMILY*/
/****************************/




/*open-sans
----------------------------------------*/

@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-light-webfont.woff') format('woff'),
       url('../fonts/opensans-light-webfont.ttf') format('truetype'),
       url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
	overflow-x: hidden;
}
body {
	font: 14px/18px 'OpenSans_Regular', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #666;
	background-color: #fff;
	position: relative;
	left: 0;
	-webkit-transition: all .3s ease;
			 -o-transition: all .3s ease;
					transition: all .3s ease;
}

.main-holder {
	overflow: hidden;
}


img {
	max-width: 100%;
	height: auto;
}


.main-holder {
	overflow: hidden;
}
/*================================================*/
/*==============>-Block--classes-<================*/
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	transition: color .25s;
}
a:hover {
	color: #EC1C24;
	text-decoration: none;
}
a:focus {
	color: #EC1C24;
	text-decoration: none;
}
.small_font {
	font-size: 12px;
}
.largeh-Bold-white {
	color: #fff;
	font: 100px/88px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 123px 0 37px;
}
.xxh-Bold-white {
	color: #fff;
	font: 30px/30px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 5px;
}
.large-h {
	color: #000;
	display: block;
	font: 56px/30px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 60px;
}
.h-Bold {
	color: #fff;
	font: 90px/76px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 18px;
}
.xh-Bold {
	color: #fff;
	font: 36px/40px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 35px;
}
.xxh-Bold {
	color: #2C3E50;
	font: 36px/36px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 18px;
}
.medium-h {
	color: #fff;
	font: 24px/25px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0;
	text-transform: uppercase;
}
.xmedium-h {
	color: #2C3E50;
	font: 16px/15px 'OpenSans_Regular',Arial,Helvetica,sans-serif;
	margin: 0 0 93px;
}
.xxmedium-h {
	color: #999;
	font: 16px/15px 'OpenSans_Regular',Arial,Helvetica,sans-serif;
	margin: 0 0 35px;
}
.xxxmedium-h {
	color: #CECECD;
	font: 18px/30px 'OpenSans_Regular',Arial,Helvetica,sans-serif;
	margin: 0;
}
.xsmall-h {
	color: #fff;
	font: 14px/32px Arial,Helvetica,sans-serif;
	margin: 0;
}
.xxsmall-h {
	color: #2C3E50;
	font: 18px/24px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 18px;
}
.division-h {
	color: #fff;
	font: 18px/24px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 5px;
}
.slide-title {
	color: #fff;
	font: 36px/40px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	margin: 0 0 27px;
}
.modal h2,
.modal h3 {
	color: #000;
}



button {
	-moz-user-select: none;
}
input[type="button"] {
	-moz-user-select: none;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
	opacity: 1;
}
input:focus {
	outline: medium none;
}
img {
	image-rendering: optimizespeed;
}
*:after, *:before {
	-moz-box-sizing: border-box;
	border: 0 none;
	margin: 0;
}


/*====================>-Header-<===================*/

#preloader {
	background-color: #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#status {
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}
.spinner {
	margin: 100px auto 0;
	text-align: center;
	width: 70px;
}
.spinner > div {
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	display: inline-block;
	height: 18px;
	width: 18px;
}
.spinner .bounce1 {
	-webkit-animation: 1.4s ease-in-out 0s normal both infinite bouncedelay;
	-o-animation: 1.4s ease-in-out 0s normal both infinite bouncedelay;
	animation: 1.4s ease-in-out 0s normal both infinite bouncedelay;
}
.spinner .bounce2 {
	-webkit-animation: 1.4s ease-in-out .16s normal both infinite bouncedelay;
	-o-animation: 1.4s ease-in-out .16s normal both infinite bouncedelay;
	animation: 1.4s ease-in-out .16s normal both infinite bouncedelay;
}
.spinner .bounce3 {
	-webkit-animation: 1.4s ease-in-out .32s normal both infinite bouncedelay;
	-o-animation: 1.4s ease-in-out .32s normal both infinite bouncedelay;
	animation: 1.4s ease-in-out .32s normal both infinite bouncedelay;
}
.spinner > div {
	background-color: #2C3E50;
}
@-moz-keyframes bouncedelay {
	0%, 80%, 100% {
		-moz-transform: scale(0);
	}
	40% {
		-moz-transform: scale(1);
	}
}
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}
@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}


.header {
	padding: 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.apex {
	position: relative;
}
.adhesion {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.logo {
	position: relative;
	z-index: 150;
}
.logo a {
	background: url("../img/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 27px;
	width: 118px;
}
.header-social {
	position: relative;
	z-index: 150;
	margin-top: 7px;
	float: left;
}
.socials li {
	float: left;
}
.social-link a {
	display: block;
	padding: 5px;
	position: absolute;
	right: 0;
	transform-origin: 50% 0 0;
	transition: all 0.3s ease-out 0s;
}
.social-transform a {
	transition: color 0.25s ease 0s;
}
.social-transform a:hover {
	opacity: 0.5;
}
.social-transform {
	display: inline-block;
	position: relative;
	z-index: 999;
	padding: 0;
}
.social-transform .social-link {
	height: 100%;
	position: relative;
	width: 100%;
}
.header-navbar {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.wr-soc {
	float: left;
}
.header-navbar .navbar-brand {
	padding: 0;
	height: 45px;
}
.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.social-transform li {
	cursor: default;
	display: inline-table;
	height: 100%;
	margin-left: 10px;
	width: 20px;
}
.social-link .facebook {
	background: url("../img/sprite/icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	margin: 1px 41px 0 0;
	width: 8px;
}
.social-link .twitter {
	background: url("../img/sprite/icons.png") no-repeat scroll -10px -2px rgba(0, 0, 0, 0);
	height: 10px;
	margin: 4px 23px 0 0;
	width: 16px;
}
.social-link .google {
	background: url("../img/sprite/icons.png") no-repeat scroll -30px -1px rgba(0, 0, 0, 0);
	height: 16px;
	margin: 1px 5px 0 0;
	width: 19px;
}
.social-link .vk {
	background: url("../img/sprite/icons.png") no-repeat scroll -50px -1px rgba(0, 0, 0, 0);
	height: 14px;
	margin: 2px 0 0;
	width: 16px;
}
.social-link .back.facebook {
	background-position: 0 -20px;
}
.social-link .back.twitter {
	background-position: -10px -22px;
}
.social-link .back.google {
	background-position: -30px -20px;
}
.social-link .back.vk {
	background-position: -50px -20px;
}
.social-transform a {
	color: #fff;
}
.social-link .back {
	color: #000;
	opacity: 0;
}
.social-link:hover .front {
	opacity: 0;
}
.social-link:hover .back {
	opacity: 1;
}
.red-back .backside, .red-back .back {
	color: #FF6065;
}
.description-logo {
	border-left: 1px solid #DDDDDD;
	float: left;
	font: 12px/15px 'OpenSans_Regular',Arial;
	margin: -5px 0 0 35px;
	padding: 14px 0 10px 27px;
}
.Open-sansR {
	font-family: 'OpenSans_Regular';
}
.nav-menu {
	display: inline-block;
	height: 20px;
	margin: 7px 0 0 0;
	overflow: hidden;
	position: relative;
	z-index: 150;
}
.nav-menu > ul {
	float: left;
	margin: 0 70px 0 0;
}
.nav-menu li {
	float: left;
	margin-left: 22px;
}
.nav-menu a {
	color: #fff;
	font: 16px/20px 'OpenSans_Regular',Arial;
}
.nav-menu .active a {
	color: #EC1C24;
}
.nav-menu .active:hover a {
	text-shadow: 4px rgba(252, 206, 226, 0.7);
}
.inside {
	position: relative;
	top: -22px;
	transition: top 0.2s ease-out 0s;
}
.nav-menu .active .inside,
.nav-menu li:hover .inside,
.more .active .inside,
.more:hover .inside {
	top: -2px;
}
.backside {
	color: #fff;
	text-decoration: underline;
}
.end-header {
	padding-bottom: 33px;
}
.shadow {
	background: url("../img/blH_shadow.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
	bottom: -27px;
	height: 27px;
	left: 50%;
	margin-left: -50%;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.hidden-mobile {
	display: none;
}
.hidden-color {
	background: #fff;
}


/*================>-End--Header-<=================*/
/*===================>-Content-<==================*/
.software_slider {
	width: 100%;
	background: url("../img/slider_bg.jpg") no-repeat fixed top center #FF5B62;
	padding-top: 145px;
}
.forma-slider .bx-wrapper .bx-controls-direction a {
	top: 50%;
}
.forma-slider .form-bxslider {
	padding: 0;
	margin: 0;
}
.forma-slider .form-bxslider > li {
	width: 100% !important;
	max-height: 540px;
	min-height: 540px;
}
#form_slider .app-bx > li {
	height: 500px;
}
#form_slider .bx-viewport {
	margin: 0 auto;
}
#form_slider .bx-wrapper {
	position: static;
}
.bx-wrapper {
	padding: 0;
	position: relative;
}
#form_slider .bx-pager .bx-pager-item {
	color: #fff;
	height: 44px;
	width: 44px;
}
#form_slider .bx-pager .bx-pager-item.lastItem {
	margin-right: 0;
}
#form_slider .bx-viewport {
	overflow: visible !important;
}
.bx-wrapper img {
	display: block;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: -30px;
	margin: 0 auto;
	width: 940px;
}
.bx-wrapper .bx-loading {
	background: url("../img/bx_loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 100%;
	left: 0;
	min-height: 50px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000;
}
.bx-wrapper .bx-pager {
	color: #666666;
	font-family: Arial;
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	display: block;
	height: 10px;
	margin: 0;
	outline: 0 none;
	width: 10px;
}
.bx-wrapper .bx-prev {
	background: url("../img/sprite/icons.png") no-repeat scroll -6px -49px rgba(0, 0, 0, 0);
	left: 0;
}
.bx-wrapper .bx-next {
	background: url("../img/sprite/icons.png") no-repeat scroll -44px -49px rgba(0, 0, 0, 0);
	right: 0;
}
.bx-wrapper .bx-prev:hover {
	opacity: 0.3 !important;
}
.bx-wrapper .bx-next:hover {
	opacity: 0.3 !important;
}
.bx-wrapper .bx-controls-direction a {
	height: 54px;
	margin-top: -27px;
	outline: 0 none;
	position: absolute;
	text-indent: -9999px;
	top: 72%;
	transition: opacity 0.3s ease 0s, right 0.3s ease 0s, left 0.3s ease 0s;
	width: 30px;
	z-index: 9999;
}
#form_slider:hover .bx-wrapper .bx-controls-direction a,
.fin_3:hover + #form_slider .bx-wrapper .bx-controls-direction a,
#aboutUs_slider:hover .bx-wrapper .bx-controls-direction a {
	opacity: 1;
}
#form_slider .bx-wrapper .bx-prev {
	left: 45px;
}
#form_slider .bx-wrapper .bx-next {
	right: 45px;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-controls-auto {
	text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	background: url("../img/controls.png") no-repeat scroll -86px -11px rgba(0, 0, 0, 0);
	display: block;
	height: 11px;
	margin: 0 3px;
	outline: 0 none;
	text-indent: -9999px;
	width: 10px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	background: url("../img/controls.png") no-repeat scroll -86px -44px rgba(0, 0, 0, 0);
	display: block;
	height: 11px;
	margin: 0 3px;
	outline: 0 none;
	text-indent: -9999px;
	width: 9px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}
.bx-wrapper .bx-caption {
	background: rgba(80, 80, 80, 0.75);
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;
	font-family: Arial;
	font-size: 0.85em;
	padding: 10px;
}
.ul-list-slider {
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	list-style: none outside none;
	padding-left: 47px;
}
.ul-list-slider li {
	position: relative;
}
.ul-list-slider li:before {
	color: #fff;
	content: "";
	display: block;
	font-family: fontawesome;
	font-size: 20px;
	left: -39px;
	position: absolute;
	top: 0;
}
.gray-list-slider {
	line-height: 27px;
	list-style-image: url("../img/list-image-gray.png");
	padding-left: 29px;
}
.list-forstart {
	float: left;
	position: relative;
	width: 40%;
	z-index: 1;
}
.list-forstart .desc {
	color: #fff;
	font: 20px/36px 'OpenSans_Regular',Arial;
}
.img-slider {
	bottom: -44px;
	left: 50%;
	margin-left: -225px;
	position: absolute;
	width: 475px;
}
.slide-man1 {
	background: url("../img/staticks/slider_man1.png") no-repeat;
	height: 568px;
	width: 420px;
	left: 50%;
	margin-left: -210px;
}
.slide-man2 {
	background: url("../img/staticks/slider_man2.png") no-repeat;
	height: 596px;
	width: 356px;
	left: 54%;
	margin-left: -178px;
}
.slide-man3 {
	background: url("../img/staticks/slider_man3.png") no-repeat;
	height: 582px;
	width: 457px;
	left: 50%;
	margin-left: -228px;
}
.fin_1,
.fin_2,
.fin_3 {
	opacity: 0;
}
#form_slider .bx-default-pager a {
	border: 1px solid;
	border-radius: 50px;
	display: block;
	height: 40px;
	margin-bottom: 9px;
	padding: 0;
	position: relative;
	width: 40px;
}
#form_slider .bx-default-pager a:focus {
	outline: none;
}
#form_slider .bx-default-pager a span {
	bottom: -25px;
	font: 14px/15px 'OpenSans_Bold',Arial;
	margin-left: -17px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 75px;
}
#form_slider .bx-default-pager a:hover,
#form_slider .bx-default-pager .active {
	background: #fff !important;
	color: #fff;
}
#form_slider .pager-Ico1:before {
	background: url("../img/sprite/beans.svg") no-repeat scroll -37px -203px rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 16px;
	left: 54%;
	margin: -8px 0 0 -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}
#form_slider .pager-Ico2:before {
	background: url("../img/sprite/beans.svg") no-repeat scroll -278px -83px rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 16px;
	left: 50%;
	margin: -8px 0 0 -7px;
	position: absolute;
	top: 50%;
	width: 14px;
}
#form_slider .pager-Ico3:before {
	background: url("../img/sprite/beans.svg") no-repeat scroll -36px -237px rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}
#form_slider .pager-Ico1:hover:before,
#form_slider .pager-Ico1.active:before {
	background: url("../img/sprite/beans_red.svg") no-repeat scroll -37px -203px rgba(0, 0, 0, 0) !important;
}
#form_slider .pager-Ico2:hover:before,
#form_slider .pager-Ico2.active:before {
	background: url("../img/sprite/beans_red.svg") no-repeat scroll -278px -83px rgba(0, 0, 0, 0) !important;
}
#form_slider .pager-Ico3:hover:before,
#form_slider .pager-Ico3.active:before {
	background: url("../img/sprite/beans_red.svg") no-repeat scroll -36px -237px rgba(0, 0, 0, 0) !important;
}
#form_slider .bx-pager {
	left: 15px;
	position: relative;
	top: -72px;
	z-index: 55;
}
#form_slider .bx-pager a {
	color: #fff;
}

#form_slider .bx-has-controls-direction .bx-pager-item {
	float: left;
	margin-right: 45px;
}
#back-top-wrapper {
	bottom: 120px;
	overflow: hidden;
	position: fixed;
	visibility: hidden;
	right: 20px;
	z-index: 99;
}
#back-top {
	background: #fff;
	border: 2px solid #FF797E;
	cursor: pointer;
	height: 48px;
	margin: 0;
	-webkit-transition: background 0.5s ease 0s, border-color 0.5s ease 0s;
	-moz-transition: background 0.5s ease 0s, border-color 0.5s ease 0s;
	-o-transition: background 0.5s ease 0s, border-color 0.5s ease 0s;
	transition: background 0.5s ease 0s, border-color 0.5s ease 0s;
	width: 48px;
}
#back-top:hover {
	background: #FF797E;
	border-color: #FF797E;
}
#back-top span {
	background: url("../img/sprite/icons.png") no-repeat scroll -158px 0 rgba(0, 0, 0, 0);
	display: block;
	height: 15px;
	margin: 16px auto;
	width: 24px;
}
#back-top:hover span {
	background-position: -158px -22px;
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);
		visibility: visible;
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
		visibility: visible;
	}
}
@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3);
		visibility: visible;
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(.9);
		-ms-transform: scale(.9);
		transform: scale(.9);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		visibility: visible;
	}
}
.bounceIn {
	-webkit-animation: bounceIn .40s linear forwards;
			 -o-animation: bounceIn .40s linear forwards;
					animation: bounceIn .40s linear forwards;
}
@-webkit-keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);
		visibility: hidden;
	}
}
@-o-keyframes bounceOut {
	0% {
		-o-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-o-transform: scale(.95);
		transform: scale(.95);
	}
	50% {
		opacity: 1;
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-o-transform: scale(.3);
		transform: scale(.3);
		visibility: hidden;
	}
}
@keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	25% {
		-webkit-transform: scale(.95);
		-ms-transform: scale(.95);
		transform: scale(.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3);
		visibility: hidden;
	}
}
.bounceOut {
	visibility: visible;
	-webkit-animation: bounceOut .40s linear forwards;
			 -o-animation: bounceOut .40s linear forwards;
					animation: bounceOut .40s linear forwards;
}
.reg-now {
	position: absolute;
	right: 0;
	text-align: center;
	top: 174px;
	width: 340px;
}
#elem-portable {
	position: absolute;
	top: 0;
	z-index: 151;
}
.relative {
	position: relative;
	z-index: 99;
}
.reg-now-visible {
	margin-top: 19px;
	position: relative;
	z-index: 100;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
textarea {
	-moz-box-sizing: border-box;
	border-radius: 0;
	box-shadow: none;
	color: #444444;
	font: 12px/16px Arial;
	height: 44px;
	margin-bottom: 13px;
	padding: 6px 12px;
	resize: none;
	border: 1px solid transparent;
	width: 100%;
}
textarea {
	height: 100px;
}
textarea:focus {
	outline: medium none;
}
form .error input, form .error textarea {
	border-color: #2F4151 !important;
	color: #2F4151;
}
form .success input, form .success textarea {
	border-color: #468847;
	color: #468847;
}
.btn {
	border: medium none;
	border-radius: 3px;
	color: #fff;
	display: block;
	font: 14px/45px 'OpenSans_Regular',Arial;
	height: 46px;
	position: relative;
	text-align: center;
	-webkit-transition: background 0.25s ease;
	-moz-transition: background 0.25s ease;
	transition: background 0.25s ease;
	width: 100%;
}
.btn:focus, .btn:hover {
	color: #fff;
}
.btn:hover {
	background: #DB2027;
}
.icon-success {
	background: url("../img/sprite/icons.png") no-repeat scroll -69px -368px rgba(0, 0, 0, 0);
	display: inline-block;
	height: 24px;
	margin-bottom: -7px;
	margin-right: 20px;
	-webkit-transition: background 0.25s ease;
	-moz-transition: background 0.25s ease;
	transition: background 0.25s ease;
	width: 24px;
}
.btn:hover .icon-success {
	background-position: -69px -341px;
}
.submit {
	background: #FF6065;
	border-radius: 6px;
	box-shadow: none;
	color: #F9FAFA;
	font: 16px/20px 'OpenSans_Bold',Arial;
	height: 60px;
	text-transform: uppercase;
}
.submit:hover {
	background: #FF7277;
}
.submit i {
	margin-right: 10px;
}
.sub-form {
	background: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	font: 16px/20px 'OpenSans_Bold',Arial;
	text-transform: uppercase;
}
.sub-form:hover, .sub-form:focus, .sub-form:active {
	background: #2F4151;
	border-color: #2F4151;
	color: #fff;
}
.filter {
	margin-bottom: 22px;
	text-align: left;
	width: auto;
}
.filter ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.filter .selectfilter {
	background: #EDEBED;
	border: 1px solid #BFBDBF;
	border-radius: 3px;
	height: 60px;
	margin: 18px auto;
}
button::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}
.filter .selectbox {
	-moz-box-sizing: border-box;
	cursor: pointer;
	vertical-align: middle;
	width: 100%;
}
.filter .selectbox .select {
	-moz-box-sizing: border-box;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #9A9A9A;
	float: left;
	font-family: Arial;
	font-size: 12px;
	height: 44px;
	line-height: 30px !important;
	padding: 6px 12px;
	position: relative;
	width: 100%;
	z-index: 1500;
}

/*customSelect*/
span.customSelect {
	text-align: left;
	background: #fff;
	border-radius: 0;
	color: #9A9A9A;
	font-family: Arial;
	font-size: 12px;
	height: 44px;
	line-height: 42px !important;
	padding: 0 0 0 12px;
	width: 100%;
	margin-bottom: 13px;
	cursor: pointer;
}
.customSelectInner {
	background: url("../img/customSelect-arrow.jpg") no-repeat scroll right center;
	display: block;
	width: 100% !important;
}
select.styled {
	width: 100% !important;
}
.filter.selectbox ul {
	list-style: none outside none;
	padding: 0;
}
.filter .selectbox.focused .select {
	border: 1px solid #5794BF;
}
.filter.selectbox .select .text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
}
.filter .selectbox .trigger {
	border-left: 1px solid #ccc;
	height: 44px;
	margin: 0;
	position: absolute;
	right: -1px;
	top: -1px;
	width: 44px;
}
.filter .selectbox .trigger .arrow {
	background: url("../img/sprite/icons.png") no-repeat scroll -74px -24px rgba(0, 0, 0, 0);
	display: block;
	height: 4px;
	margin: 20px auto;
	width: 7px;
}
.filter .selectbox .trigger:hover {
	background-position: -39px -99px;
}
.filter .selectbox .dropdown {
	height: auto;
	overflow: visible !important;
	padding: 0;
	top: 44px !important;
	width: 100%;
}
.filter .selectbox li {
	-moz-box-sizing: border-box;
	-moz-box-sizing: border-box;
			 box-sizing: border-box;
	background: #FAFAFA;
	border-top: 1px solid #E7E7E7;
	color: #333333;
	font-size: 12px;
	height: 40px;
	line-height: 33px;
	padding: 2px 10px;
	width: 100%;
}
.filter .selectbox li:hover {
	background: #E7E7E7;
}
.filter select {
	display: none;
}
.caoch {
	margin-bottom: 13px;
}
.dark-blue {
	background: #2D3E50;
	padding: 50px 0 0;
	/*text-align: center;*/
}
.ico1 {
	background: url("../img/sprite/icons.png") no-repeat scroll -306px -1px rgba(0, 0, 0, 0);
	display: block;
	float: left;
	height: 28px;
	margin-top: 4px;
	width: 28px;
}
.ico2 {
	background: url("../img/sprite/icons.png") no-repeat scroll -341px -1px rgba(0, 0, 0, 0);
	display: block;
	float: left;
	height: 28px;
	margin-top: 4px;
	width: 27px;
}
.ico3 {
	background: url("../img/sprite/icons.png") no-repeat scroll -374px -3px rgba(0, 0, 0, 0);
	display: block;
	float: left;
	height: 26px;
	margin-top: 3px;
	width: 26px;
}
.seminars {
	margin: 0;
}
.seminars .media {
	color: #798089;
	font-size: 14px;
	width: 145px;
	margin: 0 0 0 55px;
	text-align: left;
}
.seminars i {
	color: #63B5FF;
	float: left;
	font-size: 40px;
}
.seminars li,
.dark-blue .sem-h {
	margin-bottom: 46px;
}
.seminars li:hover h4 {
	color: #fff;
}
.seminars .wr-item {
	display: inline-block;
}
.div-shadow {
	background: url(../img/block-shadow.png) no-repeat;
	height: 16px;
	width: 100%;
}
.make-row > .row {
	margin-left: -30px;
	margin-right: -30px;
}
.media-news {
	margin: 0;
	position: relative;
	display: inline-block;
}
.zoom-ico {
	background: url(../img/sprite/icons.png) no-repeat scroll -313px -51px;
	display: block;
	height: 81px;
	left: 50%;
	margin: -40px 0 0 -40px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.15s ease-out 0s;
	-moz-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	width: 81px;
	z-index: 1;
}
.media-news:hover .zoom-ico {
	opacity: 1;
}
#colorbox, #cboxOverlay, #cboxWrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 9999;
}
#cboxWrapper {
	max-width: none;
}
#cboxOverlay {
	height: 100%;
	position: fixed;
	width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
}
#cboxTitle {
	margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	border: 0 none;
	display: block;
	float: left;
	margin: auto;
	max-width: none;
}
.cboxIframe {
	border: 0 none;
	display: block;
	height: 100%;
	width: 100%;
}
#colorbox, #cboxContent, #cboxLoadedContent {
	-moz-box-sizing: content-box;
}
#cboxOverlay {
	background: url("../img/colorbox/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#colorbox {
	outline: 0 none;
}
#cboxTopLeft {
	background: url("../img/colorbox/controls.png") no-repeat scroll -101px 0 rgba(0, 0, 0, 0);
	height: 21px;
	width: 21px;
}
#cboxTopRight {
	background: url("../img/colorbox/controls.png") no-repeat scroll -130px 0 rgba(0, 0, 0, 0);
	height: 21px;
	width: 21px;
}
#cboxBottomLeft {
	background: url("../img/colorbox/controls.png") no-repeat scroll -101px -29px rgba(0, 0, 0, 0);
	height: 21px;
	width: 21px;
}
#cboxBottomRight {
	background: url("../img/colorbox/controls.png") no-repeat scroll -130px -29px rgba(0, 0, 0, 0);
	height: 21px;
	width: 21px;
}
#cboxMiddleLeft {
	background: url("../img/colorbox/controls.png") repeat-y scroll left top rgba(0, 0, 0, 0);
	width: 21px;
}
#cboxMiddleRight {
	background: url("../img/colorbox/controls.png") repeat-y scroll right top rgba(0, 0, 0, 0);
	width: 21px;
}
#cboxTopCenter {
	background: url("../img/colorbox/border.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	height: 21px;
}
#cboxBottomCenter {
	background: url("../img/colorbox/border.png") repeat-x scroll 0 -29px rgba(0, 0, 0, 0);
	height: 21px;
}
#cboxContent {
	background: #fff;
	overflow: hidden;
}
.cboxIframe {
	background: #fff;
}
#cboxError {
	border: 1px solid #ccc;
	padding: 50px;
}
#cboxLoadedContent {
	margin-bottom: 28px;
}
#cboxTitle {
	bottom: 4px;
	color: #949494;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
#cboxCurrent {
	bottom: 4px;
	color: #949494;
	left: 58px;
	position: absolute;
}
#cboxLoadingOverlay {
	background: url("../img/colorbox/loading_background.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#cboxLoadingGraphic {
	background: url("../img/colorbox/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
	background: rgba(0, 0, 0, 0);
	border: 0 none;
	margin: 0;
	overflow: visible;
	padding: 0;
	width: auto;
}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline: 0 none;
}
#cboxSlideshow {
	bottom: 4px;
	color: #0092EF;
	position: absolute;
	right: 30px;
}
#cboxPrevious {
	background: url("../img/colorbox/controls.png") no-repeat scroll -75px 0 rgba(0, 0, 0, 0);
	bottom: 0;
	height: 25px;
	left: 0;
	position: absolute;
	text-indent: -9999px;
	width: 25px;
}
#cboxPrevious:hover {
	background-position: -75px -25px;
}
#cboxNext {
	background: url("../img/colorbox/controls.png") no-repeat scroll -50px 0 rgba(0, 0, 0, 0);
	bottom: 0;
	height: 25px;
	left: 27px;
	position: absolute;
	text-indent: -9999px;
	width: 25px;
}
#cboxNext:hover {
	background-position: -50px -25px;
}
#cboxClose {
	background: url("../img/colorbox/controls.png") no-repeat scroll -25px 0 rgba(0, 0, 0, 0);
	bottom: 0;
	height: 25px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	width: 25px;
}
#cboxClose:hover {
	background-position: -25px -25px;
}
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
}
.more {
	display: inline-block;
	height: 16px;
	overflow: hidden;
}
.more:before {
	color: #FF5E63;
	content: "";
	display: block;
	float: left;
	font-family: fontawesome;
	font-size: 18px;
	position: absolute;
}
.more .inside {
	float: left;
	font-family: Arial;
	font-size: 14px;
	line-height: 17px;
	margin-left: 30px;
	top: -18px;
}
.more .frontside {
	color: #FF5E63;
	text-decoration: underline;
}
.more .backside {
	color: #FF5E63;
	text-decoration: none;
}
.excerpt {
	color: #ffff;
	line-height: 24px;
	margin-bottom: 40px;
}
.hideElement #cboxPrevious, .hideElement #cboxNext, .hideElement #cboxCurrent {
	display: none !important;
}
.hideElement #cboxPrevious:focus, .hideElement #cboxNext:focus, .hideElement #cboxCurrent:focus {
	outline: medium none;
}
.bg-darkblue {
	background: url("../img/bg-darkblue.jpg") repeat-x fixed 0 0  #2F4050;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding: 137px 0 188px;
	width: 100%;
	height: 100%;
}
.bg-darkblue .media-news {
	max-width: 100%;
}
.table-offers {
	border: 1px solid #ccc;
	min-height: 471px;
	text-align: center;
}
.package-services {
	color: #999;
	float: left;
	font-size: 14px;
	margin: 0;
}
.tables {
	padding-top: 115px;
	padding-bottom: 62px;
}
.basic thead, .basic caption {
	background: #63B5FF;
}
.business thead, .business caption {
	background: #FF5E63;
}
.premium thead, .premium caption {
	background: #2A3849;
}
caption {
	font: 16px/15px 'OpenSans_Bold',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
}
.package-services thead td,
.package-services thead th {
	border: medium none;
}
.package-services caption {
	border-bottom: medium none;
	color: #fff;
	padding: 22px 0 3px;
	text-align: center;
}
.package-services tbody td {
	border-bottom: 1px solid #ccc;
}
.package-services > thead > tr > td {
	padding: 26px 0 25px;
}
.package-services tbody tr:nth-of-type(2n+2) {
	background: #FAFAFA;
}
.package-services thead {
	color: #fff;
	font: 24px/15px 'OpenSans_Regular',Arial;
}
.package-services thead b {
	font: 72px/15px 'OpenSans_Bold',Arial;
}
.package-services thead b sup {
	font-size: 36px;
}
.not-favorable .buy-now {
	background: #000;
	color: #fff;
}
.not-favorable .buy-now:hover {
	background: #EC1C25;
}
.profitable {
	margin-top: -24px;
	position: relative;
	z-index: 1;
}
.profitable caption {
	padding-top: 46px;
}
.noR-border {
	border-right: none !important;
}
.noL-border {
	border-left: none !important;
}
.table-offers {
	padding: 0;
	margin-bottom: 20px;
}
.lastTr {
	background: #fff !important;
}
.lastTr td {
	border-bottom: none !important;
}
.buy-now {
	border-radius: 5px;
	font-family: 'OpenSans_Bold',Arial;
	font-size: 16px;
	height: 60px;
	padding: 0;
	line-height: 60px;
	margin: 33px auto 18px;
	text-transform: uppercase;
	width: 80%;
}
.basic .buy-now {
	background: #63B5FF;
}
.basic .buy-now:hover {
	background: #73C5FF;
}
.business .buy-now {
	background: #FF6065;
}
.business .buy-now:hover {
	background: #FF797E;
}
.premium .buy-now {
	background: #2A3849;
}
.premium .buy-now:hover {
	background: #48607D;
}
.buy-now:hover {
	color: #fff;
}
.auto-x {
	display: table;
	margin: 0 auto;
	width: 75%;
}
.it-ico1 {
	background: url("../img/sprite/icons.png") no-repeat scroll -1px -253px rgba(0, 0, 0, 0);
	display: block;
	height: 32px;
	margin: 26px auto 0;
	width: 28px;
}
.it-ico2 {
	background: url("../img/sprite/icons.png") no-repeat scroll -44px -254px rgba(0, 0, 0, 0);
	display: block;
	height: 31px;
	margin: 24px auto 0;
	width: 28px;
}
.it-ico3 {
	background: url("../img/sprite/icons.png") no-repeat scroll -85px -245px rgba(0, 0, 0, 0);
	display: block;
	height: 40px;
	margin: 17px auto 0;
	width: 35px;
}
.it-ico4 {
	background: url("../img/sprite/icons.png") no-repeat scroll -131px -256px rgba(0, 0, 0, 0);
	display: block;
	height: 27px;
	margin: 28px auto 0;
	width: 42px;
}
.hov1:hover .it-ico1 {
	background-position: -1px -300px;
}
.hov2:hover .it-ico2 {
	background-position: -44px -301px;
}
.hov3:hover .it-ico3 {
	background-position: -85px -292px;
}
.hov4:hover .it-ico4 {
	background-position: -131px -303px;
}
.thumbnails {
	background: #FF6065;
	border: 1px solid #FF6065;
	border-radius: 150px;
	height: 130px;
	margin: 0 auto 27px;
	width: 130px;
}
.trainings > div:hover .thumbnails {
	background: #FF797E;
	border-color: #FF797E;
}
.trainings > div:hover h4 {
	color: #FF797E;
}
.full-text {
	color: #798089;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.transition-h {
	-webkit-transition: color 0.2s ease;
			 -o-transition: color 0.2s ease;
					transition: color 0.2s ease;
}
.transition-all {
	-webkit-transition: all 0.2s ease;
			 -o-transition: all 0.2s ease;
					transition: all 0.2s ease;
}
.trainings i {
	color: #fff;
	cursor: default;
	display: block;
	font-size: 55px;
	line-height: 130px;
	text-align: center;
}
.trainings > div {
	margin-bottom: 40px;
	min-height: 320px;
}
#aboutUs_slider {
	background: url("../img/bg-xdarkblue.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 63px;
	padding-top: 66px;
	padding: 66px 15px 87px;
}
#aboutUs_slider .bx-wrapper .bx-controls-direction a {
	height: 53px;
	margin-top: -26px;
	top: 30%;
	width: 29px;
}
#aboutUs_slider .bx-wrapper .bx-next {
	background: url("../img/sprite/icons.png") no-repeat scroll -44px -49px rgba(0, 0, 0, 0);
	right: 0;
}
#aboutUs_slider .bx-wrapper .bx-prev {
	background: url("../img/sprite/icons.png") no-repeat scroll -6px -49px rgba(0, 0, 0, 0);
	left: 0;
}
#aboutUs_slider .thumbnail {
	display: inline-block;
	margin: 0 auto 45px;
	width: 205px;
	padding: 0;
	border: none;
	background: none;
}
.quote {
	color: #fff;
	font: 21px/30px 'OpenSans_Light',Arial,Helvetica,sans-serif;
	margin: 0 auto 20px;
	width: 86%;
}
.author {
	color: #63B5FF;
	font: 14px/15px 'OpenSans_Regular',Arial,Helvetica,sans-serif;
}
#aboutUs_slider li {
	position: relative;
	text-align: center;
	z-index: 324235;
}
#gallery > div {
	margin-bottom: 20px;
	height: 179px;
}
.zoom-icoBw {
	background: url("../img/sprite/icons.png") no-repeat scroll -3px -114px rgba(0, 0, 0, 0);
	display: block;
	height: 73px;
	left: 50%;
	margin: -36px 0 0 -36px;
	opacity: 0;
	position: absolute;
	top: 50%;
	transition: all 0.15s ease-out 0s;
	width: 73px;
	z-index: 1;
}
.media-news a {
	cursor: pointer;
}
.media-news a:after {
	background: rgba(47, 64, 80, 0.4);
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.15s ease-out 0s;
}
.media-news:hover .zoom-icoBw,
.media-news:hover a:after {
	opacity: 1;
}
.bwWrapper {
	display: block;
	position: relative;
}
.bwWrapper:focus {
	outline: medium none;
}
#gallery .BWfade {
	border: medium none;
	left: 1px !important;
	top: 1px !important;
}
#gallery .mar-clear {
	margin-bottom: 32px;
}
#gallery img {
	width: 100%;
}
.blue-text .frontside {
	color: #63B5FF;
}
.blue-text .backside {
	color: #63B5FF;
	text-decoration: underline;
}
.blue-text:before {
	color: #63B5FF;
}
.a-trig {
	line-height: 60px;
	margin: 70px auto 55px;
	width: 320px;
	padding: 0;
}
.modal-wr {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
	padding: 40px 25px 30px;
	background: #fff;
	top: 100px;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	position: absolute;
}
.modal-wr.more-size {
	width: 400px;
	margin-left: -200px;
}
.modal {
	overflow-y: visible;
}
.modal-wr input,
.modal-wr textarea,
span.customSelect {
	border: 1px solid #ccc;
}
.close {
	background: url("../img/sprite/icons.png") no-repeat scroll -128px -29px rgba(0, 0, 0, 0);
	border: medium none;
	height: 9px;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 9px;
}
.close:hover {
	opacity: 0.7;
}
.captcha input {
	float: right;
	margin-bottom: 17px;
	width: 140px;
}
.picture-code {
	color: #000;
	float: left;
	width: 130px;
}


/*================>-End--Content-<================*/
/*====================>-Footer-<==================*/
.footer {
	background: #1F2936;
}
.partners {
	background: #F7F7F7;
	border-top: 1px solid #D0D0D0;
	box-shadow: 0 1px 0 #F3F3F3 inset;
	padding: 25px 0;
}
.partners .dark-text {
	margin-top: 14px;
}
.partnersList {
	float: left;
	margin-left: 0;
	margin-top: -10px;
}
.partnersList li {
	text-align: center;
}
.bottom {
	padding: 33px;
}
.reg-footer {
	margin-bottom: 0;
}
.last-elem .nav-menu {
	float: left;
	margin-right: 60px;
	margin-top: 1px;
}
.last-elem .nav-menu a {
	color: #000;
	font-size: 13px;
}
.last-elem .social-transform {
	float: left;
	margin-right: 15px;
}
.copyright {
	color: #fff;
	display: block;
	font-family: arial;
	font-size: 13px;
	text-align: center;
}
.come-in {
	opacity: 1;
	animation: opacityAnimate 1s 1 ease-in-out;
	-webkit-animation: opacityAnimate 1s 1 ease-in-out;
	-moz-animation: opacityAnimate 1s 1 ease-in-out;
	-o-animation: opacityAnimate 1s 1 ease-in-out;
}
@keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}
.complete {
	background: rgba(0, 0, 0, 0.62);
	border-bottom-left-radius: 10px;
	box-shadow: 6px rgba(0, 0, 0, 0.4);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000;
}
.dark-text {
	color: #48607D;
}
.footer-soc {
	display: block;
	margin: 25px -15px;
	text-align: center;
}
.footer-soc .back {
	color: #FF6065;
}


/*=================>-End--Footer-<================*/
/*====================>-Other-<===================*/
[class*="spacer"] {
	font-size: 0;
	line-height: 0;
	width: 100%;
}
.spacer1 {
	height: 35px;
}
.spacer1x0 {
	height: 10px;
}
.spacer2 {
	height: 90px;
}
.spacer2x0 {
	height: 20px;
}
.spacer3 {
	height: 77px;
}
.spacer4 {
	height: 58px;
}
.spacer5 {
	height: 50px;
}
.spacer6 {
	height: 120px;
}
.spacer7 {
	height: 135px;
}
.spacer8 {
	height: 215px;
}

.offsetY-1 {
	margin-bottom: 45px;
}
.offsetY-2 {
	margin-bottom: 63px;
}
.offsetY-3 {
	margin-bottom: 135px;
}
.offsetY-4 {
	margin-bottom: 98px;
}
.offsetY-5 {
	margin-bottom: 45px;
	margin-top: 25px;
}
.offsetY-6 {
	margin-bottom: 18px;
	margin-top: 25px;
}
.offsetY-7 {
	margin-bottom: 30px;
}
.offsetY-8 {
	margin-bottom: 72px;
}
.container.make-row {
	/*padding-right: 30px;*/
	/*padding-left: 30px;*/
}
@-webkit-keyframes fadeOutRight {
	0% {
			opacity: 0;
			-webkit-transform: translateX(20px);
	}
	100% {
			opacity: 1;
			-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeOutRight {
	0% {
			opacity: 0;
			-moz-transform: translateX(20px);
	}
	100% {
			opacity: 1;
			-moz-transform: translateX(0);
	}
}
@keyframes fadeOutRight {
	0% {
			opacity: 0;
			transform: translateX(20px);
	}
	100% {
			opacity: 1;
			transform: translateX(0);
	}
}
.fadeOutRight {
		-webkit-animation: 1s fadeOutRight both;
		-moz-animation: 1s fadeOutRight both;
		animation: 1s fadeOutRight both;
}
@-webkit-keyframes fadeOutLeft {
	0% {
			opacity: 0;
			-webkit-transform: translateX(-20px);
	}
	100% {
			opacity: 1;
			-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeOutLeft {
	0% {
			opacity: 0;
			-moz-transform: translateX(-20px);
	}
	100% {
			opacity: 1;
			-moz-transform: translateX(0);
	}
}
@keyframes fadeOutLeft {
	0% {
			opacity: 0;
			transform: translateX(-20px);
	}
	100% {
			opacity: 1;
			transform: translateX(0);
	}
}
.fadeOutLeft {
		-webkit-animation: 1s fadeOutLeft both;
		-moz-animation: 1s fadeOutLeft both;
		animation: 1s fadeOutLeft both;
}
@-webkit-keyframes fadeOutBigRight {
	0% {
			opacity: 0;
			-webkit-transform: translateX(2000px);
	}
	100% {
			opacity: 1;
			-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeOutBigRight {
	0% {
			opacity: 0;
			-moz-transform: translateX(2000px);
	}
	100% {
			opacity: 1;
			-moz-transform: translateX(0);
	}
}
@keyframes fadeOutBigRight {
	0% {
			opacity: 0;
			transform: translateX(2000px);
	}
	100% {
			opacity: 1;
			transform: translateX(0);
	}
}
.fadeOutBigRight {
		-webkit-animation: 1s fadeOutBigRight both;
		-moz-animation: 1s fadeOutBigRight both;
		animation: 1s fadeOutBigRight both;
}
@-webkit-keyframes fadeOutBigLeft {
	0% {
			opacity: 0;
			-webkit-transform: translateX(-2000px);
	}
	100% {
			opacity: 1;
			-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeOutBigLeft {
	0% {
			opacity: 0;
			-moz-transform: translateX(-2000px);
	}
	100% {
			opacity: 1;
			-moz-transform: translateX(0);
	}
}
@keyframes fadeOutBigLeft {
	0% {
			opacity: 0;
			transform: translateX(-2000px);
	}
	100% {
			opacity: 1;
			transform: translateX(0);
	}
}
.fadeOutBigLeft {
		-webkit-animation: 1s fadeOutBigLeft both;
		-moz-animation: 1s fadeOutBigLeft both;
		animation: 1s fadeOutBigLeft both;
}
@-webkit-keyframes fadeOutBottom {
	0% {
			opacity: 0;
			-webkit-transform: translateY(20px);
	}
	100% {
			opacity: 1;
			-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeOutBottom {
	0% {
			opacity: 0;
			-moz-transform: translateY(20px);
	}
	100% {
			opacity: 1;
			-moz-transform: translateY(0);
	}
}
@keyframes fadeOutBottom {
	0% {
			opacity: 0;
			transform: translateY(20px);
	}
	100% {
			opacity: 1;
			transform: translateY(0);
	}
}
.fadeOutBottom {
		-webkit-animation: 1s fadeOutBottom both;
		-moz-animation: 1s fadeOutBottom both;
		animation: 1s fadeOutBottom both;
}
@-webkit-keyframes fadeOutTop {
	0% {
			opacity: 0;
			-webkit-transform: translateY(-20px);
	}
	100% {
			opacity: 1;
			-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeOutTop {
	0% {
			opacity: 0;
			-moz-transform: translateY(-20px);
	}
	100% {
			opacity: 1;
			-moz-transform: translateY(0);
	}
}
@keyframes fadeOutTop {
	0% {
			opacity: 0;
			transform: translateY(-20px);
	}
	100% {
			opacity: 1;
			transform: translateY(0);
	}
}
.fadeOutTop {
	-webkit-animation: 1s fadeOutTop both;
	-moz-animation: 1s fadeOutTop both;
	animation: 1s fadeOutTop both;
}
#animIt1,
#animIt2,
#animIt3,
#animIt4,
#trainings,
#animIt5,
#animIt6,
#animIt7,
#animIt8,
#animIt9,
#animIt10,
#animIt11,
#animIt12,
#animIt13,
.animIt14,
.animIt15,
#animIt16,
#animIt17,
#animIt18,
#animIt19,
#animIt20 {
	opacity: 0;
}
.lay-wrapper {
	margin-top: 10%;
}
.lay-wrapper .span6 {
	float: none;
	margin: 0 auto !important;
	width: 460px;
}
.layout li {
	float: left;
	width: 33.333%;
}
.layout figure {
	margin-bottom: 25px;
	margin-top: 0;
}
.layout figcaption {
	color: #9B9B9B;
	font-size: 12px;
	text-align: center;
}
.lay1 {
	background: url("../img/sprite/lay.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 64px;
	margin: 0 auto;
	width: 64px;
}
.lay2 {
	background: url("../img/sprite/lay.png") no-repeat scroll -66px -66px rgba(0, 0, 0, 0);
	height: 64px;
	margin: 0 auto;
	width: 64px;
}
.lay3 {
	background: url("../img/sprite/lay.png") no-repeat scroll -132px 0 rgba(0, 0, 0, 0);
	height: 64px;
	margin: 0 auto;
	width: 64px;
}
.lay1:hover {
	background-position: -66px 0;
}
.lay2:hover {
	background-position: -132px -66px;
}
.lay3:hover {
	background-position: 0 -66px;
}
.app-bxslider {
	margin: 0 auto;
	width: 939px;
}
#form_slider.app-bxslider .bx-wrapper {
	padding: 0;
}
#form_slider.app-bxslider .bx-pager {
	text-align: center;
	top: 24px;
}
#form_slider.app-bxslider .bx-has-controls-direction .bx-pager-item {
	display: inline-block;
	float: none;
	margin-left: -5px;
}
#form_slider.app-bxslider .bx-default-pager a span {
	bottom: -24px;
	color: #000;
	display: block;
	font: 12px/15px 'OpenSans_Bold',Arial;
	transition: color 0.25s ease 0s;
}
#form_slider.app-bxslider .bx-default-pager .active span,
#form_slider.app-bxslider .bx-default-pager a:hover span {
	color: #EC1C24;
}
.fix-bg1 {
	background: url("../img/bxfix_bg1.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fix-bg2 {
	background: url("../img/bxfix_bg2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fix-bg3 {
	background: url("../img/bxfix_bg3.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.footer-block {
	-moz-box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	padding: 21px 37px 31px 47px;
	position: absolute;
	width: 100%;
}
.dv1 {
	color: #fff;
	float: left;
	font: 14px/20px 'OpenSans_Regular',Arial;
	width: 395px;
}
.dv2 {
	float: right;
	width: 400px;
}
.dv2 .btn {
	margin-bottom: 0;
	margin-left: 20px;
	margin-top: 19px;
	width: 188px;
}
.dv2 .no-mar, .no-mar {
	margin-left: 0;
}
.white-btn, .white-btn:hover, .white-btn:focus {
	background: #fff;
	border-color: #8F8F8F;
	box-shadow: none;
	color: #000;
}
.white-btn i {
	background-position: -98px -393px;
}
.white-btn:hover i {
	background-position: -98px -365px !important;
}
#myModalform #elem-portable, #myModalform #elem-portable .reg-now {
	position: static;
}
.firstslide {
	background: url("../img/back2.jpg") no-repeat fixed;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
					background-size: cover;
}
.secondslide {
	background: url("../img/back3.jpg") no-repeat fixed;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
					background-size: cover;
}
.thirstslide {
	background: url("../img/back1.jpg") no-repeat fixed;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
					background-size: cover;
}
#form_slider.big-bxslider .bx-viewport {
	width: 100% !important;
}
#form_slider.big-bxslider .form-bxslider > li {
	min-height: 730px;
}
#form_slider.big-bxslider .img-slider {
	bottom: 0;
}
#form_slider.big-bxslider .ver2 {
	float: none;
	margin: 0;
}
.dark-blue-btn {
	background: #2C3D4F;
	color: #fff;
}
.dark-blue-btn:hover {
	background: #425C77;
}
#form_slider.big-bxslider .bx-wrapper .bx-controls-direction a {
	top: 50%;
}
#form_slider .form-bxslider {
	margin: 0;
}
section.video-bxslider {
	background: url(../img/back4.jpg) no-repeat #000;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 884px;
	overflow: hidden;
	padding-bottom: 70px;
}
.video-bxslider .body-slide {
	margin-top: 150px;
}
#form_slider.video-bxslider .bx-wrapper {
	padding-top: 0;
}
#form_slider.video-bxslider .bx-viewport {
	width: 100% !important;
}
.media-player {
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
}
.big-slider .body-slide {
	padding: 217px 0 30px;
}
.relative.body-slide {
	z-index: 9999;
}
.big-slider .slide-man1 {
	left: 70%;
}
.big-slider .slide-man2 {
	left: 78%;
}
.big-slider .slide-man3 {
	left: 77%;
}
.big-slider .list-forstart {
	width: 60%;
}
.big-slider .form-bxslider > li {
	padding-left: 15px;
	padding-right: 15px;
}
.white {
	color: #fff;
}
.ver2 {
	float: none;
	margin: 65px auto 0;
}
.ver2 a {
	float: left;
}
.btn .excl {
	background-position: -128px -394px;
}
.btn:hover .excl {
	background-position: -128px -366px !important;
}
section.video-bxslider:after {
	background: rgba(0, 0, 0, 0.4);
	bottom: -87px;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background 0.35s ease 0s;
}
section.video-bxslider:hover:after {
	background: rgba(0, 0, 0, 0);
}
.video-bxslider li:hover:after,
.header:hover + .content .video-bxslider li:after {
	background: rgba(45, 62, 80, 0.1);
}
.glam-btn {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #C8CCCF;
	color: #fff;
}
.glam-btn:hover {
	background: #fff;
	border-color: #fff;
	color: #000;
}
.toggle-slide-left {
	border: none;
	position: relative;
	z-index: 100;
	width: 40px;
	height: 40px;
	margin: -8px 0 0 30px;
	float: right;
}
.toggle-slide-left.collapsed {
	background: #fff;
	color: #000;
}
.toggle-slide-left:hover,
.toggle-slide-left {
	background: #2C3E50;
	color: #fff;
}
.responsive-switcher {
	text-align: center;
	color: #fff;
	padding-top: 30px;
}
.responsive-switcher i {
	font-size: 18px;
}
.alert .close {
	background: none;
	position: static;
}


.link-video i {
  background: url("../img/play-video.png") no-repeat;
  display: block;
  height: 128px;
  text-align: center;
  width: 128px;
  margin: 0 0 10px;
}
.link-video {
	text-align: center;
	display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
}
.link-video:hover {
	color: #FF5A62;
}
.link-video:focus {
	outline: none;
}





/*xSlider*/
.big-slider #form_slider .bx-pager {
	text-align: center;
	position: absolute;
	left: 0;
	top: auto;
	bottom: 20px;
	width: 100%;
}
.big-slider #form_slider .bx-pager-link {
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}
.big-slider #form_slider .bx-pager .bx-pager-item {
	margin: 0 7px !important;
	width: auto;
	height: auto;
	float: none;
}
.big-slider #form_slider .bx-has-controls-direction .bx-pager-item {
	display: inline-block;
	margin-right: 0;
}





